service:
  type: NodePort
  additionalServices: {}

ports:
  web:
    port: 80
    expose: true
  websecure:
    port: 443
    expose: true

providers:
  kubernetesIngress:
    enabled: true

ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik
