service:
  enabled: true
  type: NodePort
  annotations: {}
  labels: {}
  additionalServices: {}

ports:
  web:
    port: 80
    expose: true
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 443
    expose: true
    exposedPort: 443
    protocol: TCP

providers:
  kubernetesIngress:
    enabled: true

ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik

logs:
  general:
    level: INFO
